@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster+Two:wght@700&family=Poppins:wght@500;600&family=Ubuntu:wght@500&display=swap');

*{
	margin :0;
	padding:0;
	box-sizing: border-box;
	text-decoration: none;
}
/*navigation bar style*/
.navigation-bar{
	/*background : #1a1c20;*/
	position: fixed;
	width : 100%;
	font-family: 'Ubuntu' , san-serif;
	padding:14px 0;
	transition: all 0.3s ease;
}

.navigation-bar.sticky{
	background-color: #252525;
	padding: 14px 0;
}

.max-width{
	max-width: 1300px;
	padding: 0 70px;
	margin : auto;
}

.navigation-bar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navigation-bar .items-nav li a{
	color : white;
	transition: color 0.3s ease;
	margin-left: 25px;
	font-size:18px;
	font-weight: 500;
}

.navigation-bar .items-nav li a:hover{
	color: #222831
}

.navigation-bar .logo-nav a{
	color:white;
	font-weight: 600;
	font-size:35px;
	font-family:'Ubuntu' , san-serif;
}

.navigation-bar .logo-nav span{
	color:#eeeeee;
}

.navigation-bar li{
	list-style: none;
	display: inline-block;
}

.menu-btn{
	color:white;
	font-size:23px;
	cursor: pointer;
	display:none;
}

/*Home section*/
.home{
	min-height: 500px;
	height: 100vh;
	background: url('images/home-background.jpg') no-repeat center;
	display: flex;
	color : white;
	background-size: cover;
	font-family:'Ubuntu' , san-serif;
}

.home .max-width{
	margin:auto 0 auto 40px;
}

.home .content-home{
}

.home .content-home .text1{
	font-size: 27px;
}

.home .content-home .text2{
	font-size: 75px;
	font-weight: 600;
	margin-left: -4px;
}

.home .content-home .text3{
	font-size: 40px;
	margin: 5px 0;
}
.home .content-home .text3 span{
	color:#222831;
}

/*Making the page responsive*/
@media (max-width:1100px){
	.home .max-width{
		margin-left:0px;
	}
}

@media (max-width:991px){
	.max-width{
		padding:0 50px;
	}

}
@media (max-width:947px){
	.max-width {
		padding: 0 50px;

	}

	.menu-btn{
		display:block;
		z-index: 999;
	}

	.navigation-bar .items-nav{
		position:fixed;
		background:black;
		width:100%;
		height: 100vh;
		left: 100%;
		top:0;
		text-align:center;
		padding-top:80px;
		transition: all 0.3s ease; 
	}

	.menu-btn i{
		transition: auto 0.3s ease;
	}

	.menu-btn i.active:before{
		content: "\f00d"
	} 

	.navigation-bar .items-nav.active{
		left: 0;
	}

	.navigation-bar .items-nav li{
		display: block;

	}
	.navigation-bar .items-nav li a{
		display: inline-block;
		margin: 20px 0;
		font-size:25px;

	}
	.home .content-home .text2{
		font-size: 70px;
	}
	
	.home .content-home .text3{
		font-size: 35px;
		margin: 5px 0;
	}
}

@media (max-width:690px){
	.max-width {
		padding: 0 22px;

	}

	.home .content-home .text1{
		font-size: 20px;
	}

	.home .content-home .text2{
		font-size: 60px;
	}
	
	.home .content-home .text3{
		font-size: 25px;
		margin: 5px 0;
	}
}
@media (max-width:520px){
	.max-width {
		padding: 0 19px;

	}


	.home .content-home .text1{
		font-size: 18px;
	}

	.home .content-home .text2{
		font-size: 55px;
	}
	
	.home .content-home .text3{
		font-size: 22px;
		margin: 5px 0;
	}
}