@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster+Two:wght@700&family=Poppins:wght@500;600&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
*{
	margin :0;
	padding:0;
	box-sizing: border-box;
	text-decoration: none;
}

html{
	scroll-behavior: smooth;
}

/*navigation bar style*/
.navigation-bar{
	/*background : #1a1c20;*/
	position: fixed;
	width : 100%;
	font-family: 'Ubuntu' , san-serif;
	padding:14px 0;
	transition: all 0.3s ease;
	z-index: 999;
}

.navigation-bar.sticky{
	background-color: #EC9513;
	padding: 14px 0;
}

.max-width{
	max-width: 1300px;
	padding: 0 70px;
	margin : auto;
}

.navigation-bar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navigation-bar .items-nav li a{
	color : white;
	transition: color 0.3s ease;
	margin-left: 25px;
	font-size:18px;
	font-weight: 500;
	display: block;
}

.navigation-bar .items-nav li a:hover{
	color: #222831
}

.navigation-bar .logo-nav a{
	color:white;
	font-weight: 600;
	font-size:35px;
	font-family:'Ubuntu' , san-serif;
}

.navigation-bar .logo-nav span{
	color:#eeeeee;
}

.navigation-bar li{
	list-style: none;
	display: inline-block;
}

.menu-btn{
	color:white;
	font-size:23px;
	cursor: pointer;
	display:none;
}

/*Home section*/
.home{
	min-height: 500px;
	height: 100vh;
	background: url('images/home-background.jpg') no-repeat center;
	display: flex;
	color : white;
	background-size: cover;
	font-family:'Ubuntu' , san-serif;
}

.home .max-width{
	margin:auto 0 auto 40px;
	display:flex;
}

.home .content-home .text1{
	font-size: 27px;
}

.home .content-home .text2{
	font-size: 75px;
	font-weight: 600;
	margin-left: -4px;
}

.home .content-home .text3{
	font-size: 40px;
	margin: 5px 0;
}
.home .content-home .text3 span{
	/*color:#EC9513;*/
	color:#FFD700;
}

/*About me styling*/
section{
	padding:70px 40px;
}
section{
	font-family: 'Nunito' , san-serif;
	font-size: 18px;
}


section .heading{
	position: relative;
	font-family: 'Ubuntu' , san-serif;
	font-weight: 400;
	font-size:40px;
	text-align: center;
	padding-bottom: 20px;
	margin-bottom:60px;
}

section .heading::before{
	content:"";
	background: black;
	width:190px;
	height: 3px;
	position: absolute;
	left:50%;
	bottom:0px;
	transform: translateX(-50%);
}
section .heading::after{
	background: white;
	padding:5px;
	position: absolute;
	left:50%;
	bottom:-10px;
	transform: translateX(-50%);
	font-size:20px;
	height: 20px;
	color:#EC9513;
}

.about .heading::after{
	content:"who am i";
}

.about .content-about , 
.service .content-service ,
.skill .content-skill ,
.contact .content-contact{
	display:flex;
	flex-wrap:wrap;
	align-items: center;
	justify-content: space-between;

}

.about .content-about .left img{
	height: 450px;
	width:350px;
	object-fit: cover;
	border-radius: 3px;
}
.about .content-about .left{
	width:40%;
}
.about .content-about .right{
	width:60%;
}
.about .content-about .right .text{
	font-size:25px;
	font-weight: 600;
	margin-bottom: 10px;
	font-weight: 600;
	text-align: left;
}

.about .content-about .right .text span{
	color:#EC9513;
	font-weight: 900;
}

.about .content-about .right p{
	text-align: justify;
}

/*service section*/

.service{
	background: #111;
	color: white;
}

.service .content-service .card{
	width: calc(33% - 20px);
	text-align: center;
	background: #222;
	padding: 20px 25px;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.service .content-service .card .box{
	transition: all 0.3s ease;
}

.service .content-service .card:hover .box{
	transform: scale(1.05);
}

.service .content-service .card:hover{
	background: #EC9513;
	color: black;
}

.service .content-service .card:hover i{
	color: black;
}

.service .heading{
	color: white;
}

.service .heading::before{
	background: white;
}

.service .heading::after{
	content: "what I provide";
	background: #111;
}

.service .content-service i{
	font-size: 39px;
	color: #EC9513 
}



.service .content-service .card .text{
	font-weight: 500px;
	font-size: 22px;
	margin: 10px 6px;
	font-weight: 600;
}


/*skills*/
.skill .content-skill .left .text{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}

.skill .heading::after{
	content: "what I know"
}

.skill .content-skill .column{
	width: calc(50% - 30px); 
}

.skill .content-skill .right .bars{
	margin-bottom: 15px;
	font-family: 'Poppins' , san-serif;
}

.skill .content-skill .right .information{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 5px;
}

.skill .content-skill .right span{
	font-weight: 500;
	font-size: 18px;
}

.skill .content-skill .right .line{
	background: lightgrey;
	height: 4px;
	position: relative;
	width: 100%;
}

.skill .content-skill .right .line::before{
	content: "";
	background: #EC9513;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
}

.skill .content-skill .right .python::before{
	width: 80%;
}

.skill .content-skill .right .java::before{
	width: 72%;
}

.skill .content-skill .right .javascript::before{
	width: 50%;
}

.skill .content-skill .right .html::before{
	width: 67%;
}

.skill .content-skill .right .css::before{
	width: 57%;
}

.skill .content-skill .right .mysql::before{
	width: 40%;
}

.skill .content-skill .left a{
	display: inline-block;
	background: #EC9513;
	color: #fff;
	font-weight: 500;
	padding: 8px 16px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid #EC9513;
	transition: all 0.3 ease;

}
.skill .content-skill .left a:hover{
	background: #fff;
	color: #EC9513;
}

.skill .content-skill #more{
	display: none;
}


/*contact section*/

.contact .heading::after{
	content: "for more details"

}

.contact .content-contact .column{
	width: calc(50% - 30px);
}


.contact .content-contact .text{
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 10px;
}

.contact .content-contact .left p{
	text-align: justify;
}

.contact .content-contact .left .icons{
	margin: 10px 0;
}

.contact .content-contact .rows{
	display: flex;
	height: 65px;
	align-items: center;
}

.contact .content-contact .rows .information{
	margin-left: 30px;
}

.contact .content-contact .rows i{
	font-size: 23px;
	color: #EC9513;
}

.contact .content-contact .information .head{
	font-weight: 600;
}

.contact .content-contact .information .sub-title{
	color: #333;
}

.contact .right form .fields{
	display: flex;
}

.contact .right form .field,
.contact .right form .fields .field{
	height: 45px;
	width: 100%;
	margin-bottom: 15px;
}

.contact .right form .name{
	margin-right: 10px;
}

.contact .right form .mail{
	margin-left: 10px;
}

.contact .right form .textarea{
	height: 80px;
	width: 100%;
}

.contact .right form .field input ,
.contact .right form .textarea textarea{
	height: 100%;
	width: 100%;
	border: 1px solid lightgrey;
	padding: 0 15px;
	outline: none;
	font-size: 17px;
	font-family: 'Poppins' , san-serif;
	border-radius: 2px;

}

.contact .right form .textarea textarea{
	padding-top: 10px;
	resize: none;
}

.contact .right form .button{
	height: 47px;
	width: 170px;
}

.contact .right form .button button{
	border: 2px solid #EC9513;
	border-radius: 6px;
	background: #EC9513;
	color: white;
	height: 100%;
	width: 100%;
	font-family: 'Ubuntu' , san-serif;
	font-size: 18px;
	margin-bottom: 15px;
	transition: all 0.3s auto;
	cursor: pointer;
}

.contact .right form .button button:hover{
	color: #EC9513;
	background: #fff;
}

/*footer*/
.footer{
	font-family: 'Ubuntu' ,san-serif;
	background: #111;
	padding: 20px 23px;
	color: #fff;

}

.footer span a{
	color: #EC9513;
	text-decoration: none
}

.footer span a:hover{
	text-decoration: underline;
}

.footer .icond a{
	color: inherit;
	justify-content: center;
	font-size: 23px;
	margin: 0 5px;

}

.footer .social-media {
	display:flex;
	flex-wrap:wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%
}












/*Making the page responsive*/
@media (max-width:1300px){
	.home .max-width{
		margin-left:0px;
	}
}

@media (max-width:1150px){
	.about .content-about .left img{
		height: 400px;
		width:330px;
		object-fit: cover;
}
  
@media (max-width:991px){
	.max-width{
		padding:0 50px;
	}

}
@media (max-width:947px){

	.menu-btn{
		display:block;
		z-index: 999;
	}

	.navigation-bar .items-nav{
		position:fixed;
		background:black;
		width:100%;
		height: 100vh;
		left: 100%;
		top:0;
		text-align:center;
		padding-top:80px;
		transition: all 0.3s ease; 
	}

	.menu-btn i{
		transition: auto 0.3s ease;
	}

	.menu-btn i.active:before{
		content: "\f00d"
	} 

	.navigation-bar .items-nav.active{
		left: 0;
	}

	.navigation-bar .items-nav li{
		display: block;

	}
	.navigation-bar .items-nav li a{
		display: inline-block;
		margin: 20px 0;
		font-size:25px;

	}
	.home .content-home .text2{
		font-size: 70px;
	}
	
	.home .content-home .text3{
		font-size: 35px;
	}

	.max-width{
		max-width: 800px;
	}

	.about .content-about .column{
		width:100%;
	}

	.about .content-about .left{
		display:flex;
		justify-content: center;
		margin: 0 auto 60px;
	}

	.about .content-about .right{
		flex:100%;
	}

	.service .content-service .card{
		width: calc(50% - 10px);
		margin-bottom: 20px; 
	}
	.skill .content-skill .column ,
	.contact .content-contact .column{
		width: 100%;
		margin-bottom: 35px; 
		
	}
}

@media (max-width:690px){
	.max-width {
		padding: 0 22px;

	}

	.home .content-home .text1{
		font-size: 20px;
	}

	.home .content-home .text2{
		font-size: 60px;
	}
	
	.home .content-home .text3{
		font-size: 25px;
	}

	.service .content-service .card{
		width: 100%;
		
	}
}

@media (max-width:500px){
	.navigation-bar .logo-nav{
		font-size: 30px
	}

	.navigation-bar .items-nav li a{
		font-size:20px;


	p{
		font-size: 16px;
	}

	.text{
		font-size: 18px
	}

	.max-width {
		padding: 0 19px;

	}

	.home .content-home .text1{
		font-size: 18px;
	}

	.home .content-home .text2{
		font-size: 55px;
	}
	
	.home .content-home .text3{
		font-size: 22px;
	}

	section .heading::after{
		font-size: 15px;
		margin-bottom: -5.5px
	}

	.footer .icond a{
		font-size: 19px
	}

	.footer{
		font-size: 14px
	}
}