@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster+Two:wght@700&family=Poppins:wght@500;600&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
*{
	margin :0;
	padding:0;
	box-sizing: border-box;
	text-decoration: none;
}
/*navigation bar style*/
.navigation-bar{
	/*background : #1a1c20;*/
	position: fixed;
	width : 100%;
	font-family: 'Ubuntu' , san-serif;
	padding:14px 0;
	transition: all 0.3s ease;
	z-index: 999;
}

.navigation-bar.sticky{
	background-color: #252525;
	padding: 14px 0;
}

.max-width{
	max-width: 1300px;
	padding: 0 70px;
	margin : auto;
}

.navigation-bar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navigation-bar .items-nav li a{
	color : white;
	transition: color 0.3s ease;
	margin-left: 25px;
	font-size:18px;
	font-weight: 500;
}

.navigation-bar .items-nav li a:hover{
	color: #222831
}

.navigation-bar .logo-nav a{
	color:white;
	font-weight: 600;
	font-size:35px;
	font-family:'Ubuntu' , san-serif;
}

.navigation-bar .logo-nav span{
	color:#eeeeee;
}

.navigation-bar li{
	list-style: none;
	display: inline-block;
}

.menu-btn{
	color:white;
	font-size:23px;
	cursor: pointer;
	display:none;
}

/*Home section*/
.home{
	min-height: 500px;
	height: 100vh;
	background: url('images/home-background.jpg') no-repeat center;
	display: flex;
	color : white;
	background-size: cover;
	font-family:'Ubuntu' , san-serif;
}

.home .max-width{
	margin:auto 0 auto 40px;
	display:flex;
}

.home .content-home .text1{
	font-size: 27px;
}

.home .content-home .text2{
	font-size: 75px;
	font-weight: 600;
	margin-left: -4px;
}

.home .content-home .text3{
	font-size: 40px;
	margin: 5px 0;
}
.home .content-home .text3 span{
	/*color:#EC9513;*/
	color:#956D30;
}

/*About me styling*/
section{
	padding:50px;
}
section{
	font-family: 'Nunito' , san-serif;
	font-size: 20px;
}


section .heading{
	position: relative;
	font-family: 'Ubuntu' , san-serif;
	font-weight: 400;
	font-size:40px;
	text-align: center;
	padding-bottom: 20px;
	margin-bottom:60px;
}

section .heading::before{
	content:"";
	background: black;
	width:190px;
	height: 3px;
	position: absolute;
	left:50%;
	bottom:0px;
	transform: translateX(-50%);
}
section .heading::after{
	background: white;
	padding:5px;
	position: absolute;
	left:50%;
	bottom:-10px;
	transform: translateX(-50%);
	font-size:20px;
	color:#EC9513;
}

.about .heading::after{
	content:"who am i";
}

.about .content-about , .service .content-sevice{
	display:flex;
	flex-wrap:wrap;
	align-items: center;
	justify-content: space-between;

}

.about .content-about .left img{
	height: 500px;
	width:400px;
	object-fit: cover;
}
.about .content-about .left{
	width:45%;
}
.about .content-about .right{
	width:55%;
}
.about .content-about .right .text{
	font-size:25px;
	font-weight: 600;
	margin-bottom: 10px;
	font-weight: 600;
	text-align: left;
}

.about .content-about .right .text span{
	color:#EC9513;
}

.about .content-about .right p{
	text-align: justify;
}

/*service section*/

.service{
	background: #111;
	color: white;
}

.service .content-service .card{
	width: calc(33% - 20px);
	text-align: center;
}

.service .heading{
	color: white;
}

.service .heading::before{
	background: white;
}

.service .heading::after{
	content: "what I do";
	background: #111;
}








/*Making the page responsive*/
@media (max-width:1300px){
	.home .max-width{
		margin-left:0px;
	}
}

@media (max-width:1150px){
	.about .content-about .left img{
		height: 400px;
		width:330px;
		object-fit: cover;
}
  
@media (max-width:991px){
	.max-width{
		padding:0 50px;
	}

}
@media (max-width:947px){

	.menu-btn{
		display:block;
		z-index: 999;
	}

	.navigation-bar .items-nav{
		position:fixed;
		background:black;
		width:100%;
		height: 100vh;
		left: 100%;
		top:0;
		text-align:center;
		padding-top:80px;
		transition: all 0.3s ease; 
	}

	.menu-btn i{
		transition: auto 0.3s ease;
	}

	.menu-btn i.active:before{
		content: "\f00d"
	} 

	.navigation-bar .items-nav.active{
		left: 0;
	}

	.navigation-bar .items-nav li{
		display: block;

	}
	.navigation-bar .items-nav li a{
		display: inline-block;
		margin: 20px 0;
		font-size:25px;

	}
	.home .content-home .text2{
		font-size: 70px;
	}
	
	.home .content-home .text3{
		font-size: 35px;
	}

	.max-width{
		max-width: 800px;
	}

	.about .content-about .column{
		width:100%;
	}

	.about .content-about .left{
		display:flex;
		justify-content: center;
		margin: 0 auto 60px;
	}

	.about .content-about .right{
		flex:100%;
	}
}

@media (max-width:690px){
	.max-width {
		padding: 0 22px;

	}

	.home .content-home .text1{
		font-size: 20px;
	}

	.home .content-home .text2{
		font-size: 60px;
	}
	
	.home .content-home .text3{
		font-size: 25px;
	}
}

@media (max-width:500px){
	.max-width {
		padding: 0 19px;

	}

	.home .content-home .text1{
		font-size: 18px;
	}

	.home .content-home .text2{
		font-size: 55px;
	}
	
	.home .content-home .text3{
		font-size: 22px;
	}
}